.home {
  a {
    color: var(--color-white);
  }
  // .nav {
  //   .nav_conatainer {
  //     .nav_list {
  //       .opacity {
  //         opacity: 0;
  //       }
  //     }
  //   }
  // }
  /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
  @media screen and (max-width: 991px) {
    .nav {
      .container {
        width: 85%;
      }
    }
    .home_content {
      .container {
        width: 95%;
      }
    }
  }
}
